* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: Comic Sans;
    background-color: #C5B8FF;
    font-size:24px;


}
h1, h2, h3, h4, h5, h6 {
    color: White
}

h1{
    font-size:48px;
    letter-spacing: 12px;

}
h2{
    font-size:16px;
    line-height:1.6;
    letter-spacing: 2px;
    text-align:center;
    justify-content:center;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}